body {
    margin: 0;
    padding: 0;
    font-family: "Oxanium", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #151515;
    height: 83px;
    color: #F9F9F9;
    font-size: 0.6rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

header img {
    height: 30px;
    margin-left: 15px;
}

main {
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    padding: 5% 5%;
    box-sizing: border-box;
    flex: 1;
}

#generated-name {
    color: #656565;
    font-size: 3.4rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    color: #FFFFFF;
    height: 60px;
    width: 100%;
    max-width: 170px;
    font-weight: bold;    
    font-size: 1.2rem;
    font-family: "Oxanium", sans-serif;
    border: 0;
    border-radius: 9px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    opacity: 0.85;
    transform: scale(1.02);
}

button img {
    height: 45%;
    margin-left: 15px;
}

#man-button {
    background-color: #6456FF;
}

#woman-button {
    background-color: #F85EFB;
}

#general-button {
    background-color: #FB4040;
}

footer {
    background-color: #ECECEC;
    height: 64px;
    color: #C1C1C1;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
}

@media (max-width: 600px) {

    html {
        font-size: 14px;
    }
    
    .buttons {
        flex-direction: column;
    }

    header { 
        justify-content: center;
    }
}